xcschememanagement.plist
Xcuserdata/
WorkspaceSettings.xcsettings
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
contents.xcworkspacedata

*.moved-aside
*.xccheckout
*.xcscmblueprint


# CocoaPods
Pods/
Podfile.lock